<p><strong>Grocery Shopping List</strong></p>
<table>
<thead>
<tr class="header">
<th><p>FRUIT</p>
<p>□ grapefruit</p>
<p>□ raspberries</p>
<p>□ strawberries</p>
<p>□ blueberries</p>
<p>□ avocados</p>
<p>□ frozen fruit</p></th>
<th><p>VEGETABLES</p>
<p>□ onions</p>
<p>□ carrots</p>
<p>□ bell peppers</p>
<p>□ salad mix</p>
<p>□ jalapenos</p>
<p>□ serrano</p>
<p>□ spinach</p>
<p>□ cilantro</p>
<p>□ mushrooms</p>
<p>□ potatoes</p>
<p>□ tomatoes</p>
<p>□ edamame</p></th>
<th><p>DAIRY</p>
<p>□ half and half</p>
<p>□ milk</p>
<p>□ yogurt</p>
<p>□ queso</p>
<p>□ sliced cheddar</p>
<p>□ sliced Havarti</p>
<p>□ sliced provolone</p>
<p>□ deli meat (ham)</p>
<p>□ yakult</p>
<p>□ cream cheese</p></th>
<th><p>DRINKS</p>
<p>□ grapefruit juice</p>
<p>□ orange juice</p>
<p>□ Topo Chico</p>
<p>□ Gatorade</p>
<p>□ diet ginger ale</p>
<p>□ diet Coke</p>
<p>□ diet 7-up/Sprite</p>
<p>□ protein powder</p>
<p>□ bottled water</p>
<p>□ Brisk iced tea</p>
<p>□ wine _____</p>
<p>□ beer _____</p></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>BREAD</p>
<p>□ tortillas</p>
<p>□ hamburger buns</p>
<p>□ hot dog buns</p>
<p>□ sandwich bread</p>
<p>□ baguette</p>
<p>□ bagels</p>
<p>□ brioche</p>
<p>□ cinnamon rolls</p>
<p>□ crescent rolls</p></td>
<td><p>HOME GOODS</p>
<p>□ paper towels</p>
<p>□ toilet paper</p>
<p>□ hand soap</p>
<p>□ dishwasher soap</p>
<p>□ laundry soap</p>
<p>□ toilet cleaner</p></td>
<td><p>GENERAL</p>
<p>□ coffee</p>
<p>SAUCES</p>
<p>□ BBQ sauce</p>
<p>NUTS</p>
<p>□ walnuts</p>
<p>□ almonds</p>
<p>□ pecans</p></td>
<td><p>CONDIMENTS, OIL, JAM</p>
<p>□ ketchup</p>
<p>□ mustard</p>
<p>□ strawberry jam</p>
<p>□ fig jam</p>
<p>□ soy sauce</p>
<p>□ sweet and sour</p>
<p>□ hot mustard</p>
<p>□ hummus</p></td>
</tr>
<tr class="even">
<td><p>MEAT</p>
<p>□ chicken</p>
<p>□ ground sirloin</p>
<p>□ ground sausage</p>
<p>□ bacon</p>
<p>□ hot dogs</p></td>
<td><p>GRAINS</p>
<p>□ pancake mix</p>
<p>□ cereal</p>
<p>□ oatmeal</p>
<p>□ potato chips</p>
<p>□ tortilla chips</p>
<p>□ ramen</p>
<p>□ rice</p>
<p>□ crackers</p>
<p>□ pita chips</p></td>
<td><p>CANNED GOODS</p>
<p>□ black beans</p>
<p>□ red beans</p>
<p>□ baked beans</p>
<p>□ tomato sauce</p>
<p>□ tomato paste</p>
<p>□ tomato diced</p>
<p>□ chipotle adobo</p>
<p>□ corn</p>
<p>□ coconut milk</p></td>
<td><p>OTHER</p>
<p>□ _______</p>
<p>□ _______</p>
<p>□ _______</p>
<p>□ _______</p>
<p>□ _______</p></td>
</tr>
</tbody>
</table>
